[path]
home_dir=.
data_dir=%(home_dir)s/data
result_dir=%(home_dir)s/result

[test_setting]
timeout=60
host=test-wifi.xxxxx.com.cn
port=:61080
protocol=http
case_info=['case_index','case_name','path','method','on_off','version','header','body','res_assertion','res_save_parameter']

[global_params]
params={}

[file_type]
case_file_type=excel
result_file_type=excel
