[loggers]
keys=root,apitestlog

[handlers]
keys=h01,h02

[formatters]
keys=simpleFormatter

[logger_root]
level=DEBUG
handlers=h01,h02

[logger_apitestlog]
level=NOTSET
handlers=h01,h02
qualname=apitestlog
propagate=0

[handler_h01]
class=FileHandler
args=('./log/apitest_info.log','a')
level=INFO
formatter=simpleFormatter

[handler_h02]
class=FileHandler
args=('./log/apitest_error.log', 'a')
level=ERROR
formatter=simpleFormatter

[formatter_simpleFormatter]
format=%(asctime)s - %(name)s - %(levelname)s - %(message)s
datefmt=